[project]
	description = Record hash binding for DBI
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael D. Stemle, Jr. (manchicken)
[access "refs/for/refs/*"]
	read = group user/Michael D. Stemle, Jr. (manchicken)
	push = group user/Michael D. Stemle, Jr. (manchicken)
	label-Code-Review = -2..+2 group user/Michael D. Stemle, Jr. (manchicken)
	label-Verified = -1..+1 group user/Michael D. Stemle, Jr. (manchicken)
	rebase = group user/Michael D. Stemle, Jr. (manchicken)
	removeReviewer = group user/Michael D. Stemle, Jr. (manchicken)
	submit = group user/Michael D. Stemle, Jr. (manchicken)
[access "refs/heads/*"]
	read = group user/Michael D. Stemle, Jr. (manchicken)
	create = group user/Michael D. Stemle, Jr. (manchicken)
	push = +force group user/Michael D. Stemle, Jr. (manchicken)
	pushMerge = group user/Michael D. Stemle, Jr. (manchicken)
[access "refs/tags/*"]
	push = +force group user/Michael D. Stemle, Jr. (manchicken)
	pushTag = group user/Michael D. Stemle, Jr. (manchicken)
	pushSignedTag = group user/Michael D. Stemle, Jr. (manchicken)
